.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-button::after {
  content: '▼';
  margin-top: 5px;
  margin-left: -2em;
  font-size: 12px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1b1b1b;
  border-radius: 8px;
  margin-top: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;
}

.dropdown-item {
  padding: 10px 20px;
  color: #e5e7eb;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-item:hover {
  color: #ff4d69;
}
